<!-- ***** Buscador ***** -->
<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md ">
                <div class="wellcome-heading">
                    <h2>Educación Virtual Pública</h2>
                    <p>Universidades de Bogotá</p>
                </div>
                <div class="get-start-area">
                    <!-- Busqueda -->
                    <form action="#" method="post" class="form-inline justify-content-center">
                        <input type="email" class="form-control email" placeholder="Filosofía, matemáticas, inglés, etc.">
                        <input type="submit" class="submit" value="Buscar">
                    </form>
                    <!--Final de busqueda -->
                </div>
                 <!-- Pregunta estudiar -->
                <div class="pregunta-estudiar">
                    <p>¿Qué quieres aprender hoy?</p>
                </div>
                 <!-- Final Pregunta estudiar -->
            </div>
        </div>
    </div>
</section>

<!-- ***** Área presentación ***** -->
<section class="special-area bg-white section_padding_100" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Presentación -->
                <div class="section-heading text-center">
                    <h2>Educación Virtual del futuro</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-icon">
                        <i class="ti-desktop" aria-hidden="true"></i>
                    </div>
                    <h4>Virtualizamos las clases presenciales.</h4>
                    <p>Gracias a la colaboración de diversas organizaciones educativas, ponemos a su disposición, multiples cursos.</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-icon">
                        <i class="ti-comment-alt" aria-hidden="true"></i>
                    </div>
                    <h4>Acompañamiento de tutores expertos.</h4>
                    <p>Podrá disfrutar del aprendizaje acompañado de profesores, en caso que así se requiera</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <i class="ti-medall" aria-hidden="true"></i>
                    </div>
                    <h4>Te certificamos en algunos cursos</h4>
                    <p>Por el apoyo de varias organizaciones educativas, te pueden certificar algunos cursos.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Special Area End ***** -->

<!-- ***** App Screenshots Area Start ***** -->
<section class="app-screenshots-area bg-white section_padding_0_100 clearfix" id="screenshot">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2>Aplicación Móvil</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- App Screenshots Slides  -->
                <div class="app_screenshots_slides owl-carousel">
                    <div class="single-shot">
                        <img src="img/scr-img/app-1.jpg" alt="">
                    </div>
                    <div class="single-shot">
                        <img src="img/scr-img/app-2.jpg" alt="">
                    </div>
                    <div class="single-shot">
                        <img src="img/scr-img/app-3.jpg" alt="">
                    </div>
                    <div class="single-shot">
                        <img src="img/scr-img/app-4.jpg" alt="">
                    </div>
                    <div class="single-shot">
                        <img src="img/scr-img/app-5.jpg" alt="">
                    </div>
                    <div class="single-shot">
                        <img src="img/scr-img/app-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** App Screenshots Area End *****====== -->

<!-- ***** Contact Us Area Start ***** -->
<section class="footer-contact-area section_padding_100 clearfix" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2>¡Escríbenos!</h2>
                    <div class="line-shape"></div>
                </div>
                <div class="footer-text">
                    <p>Envía cualquier sugerencia, inquietud o queja al correo electrónico que sigue</p>
                </div>
                <div class="email-text">
                    <p><span>Correo electrónico:</span>desarrollo@publed.co</p>
                </div>
            </div>

        </div>
    </div>
</section>
