<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @actividad_tema.descripcion %>
</p>

<%= link_to 'Edit', edit_actividad_tema_path(@actividad_tema) %> |
<%= link_to 'Back', actividad_temas_path %>
