@media (min-width: 992px) and (max-width: 1199px) {
  /* line 2, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .menu_area .navbar-brand {
    font-size: 42px;
  }

  /* line 5, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .menu_area #nav .nav-link {
    padding: 35px 7.5px;
  }

  /* line 8, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .sing-up-button > a {
    color: #fff;
    height: 40px;
    min-width: 152px;
    line-height: 36px;
    font-size: 14px;
  }

  /* line 15, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .welcome-thumb {
    width: 50%;
    bottom: -100px;
    right: 50px;
  }

  /* line 20, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .video-area {
    height: 550px;
  }

  /* line 23, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .app_screenshots_slides {
    padding: 0 4%;
  }

  /* line 26, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .header_area.sticky .menu_area #nav .nav-link {
    padding: 23px 7.5px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 32, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .header_area {
    padding: 0;
  }

  /* line 35, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .menu_area .navbar-brand {
    font-size: 48px;
  }

  /* line 38, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .header_area.sticky {
    height: 50px;
  }

  /* line 41, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .header_area .menu_area #nav .nav-link,
  .header_area.sticky .menu_area #nav .nav-link {
    padding: 7.5px 15px;
  }

  /* line 45, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  #ca-navbar {
    padding: 30px;
    border-radius: 3px;
    background-color: #5b32b4;
    text-align: left;
  }

  /* line 51, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .sing-up-button {
    margin-top: 30px;
    text-align: left;
  }

  /* line 55, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .welcome-thumb {
    width: 50%;
    bottom: -100px;
    right: 0;
  }

  /* line 60, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .wellcome-heading {
    margin-bottom: 70px;
  }

  /* line 63, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .single-special {
    padding: 30px 10px;
  }

  /* line 66, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .special_description_area.mt-150 {
    margin-top: 50px;
  }

  /* line 69, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .special_description_content > h2 {
    font-size: 30px;
  }

  /* line 72, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .video-area {
    height: 350px;
  }

  /* line 75, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .section-heading > h2 {
    font-size: 38px;
  }

  /* line 78, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .address-text > p,
  .phone-text > p,
  .email-text > p {
    font-size: 16px;
  }

  /* line 83, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .footer-text > p {
    margin-bottom: 30px;
  }

  /* line 86, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .section-heading {
    margin-bottom: 50px;
  }

  /* line 89, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .sing-up-button > a {
    margin-top: 4px;
    display: inline-block;
    border: 2px solid #a883e9;
    height: 40px;
    min-width: 160px;
    line-height: 36px;
    font-size: 14px;
  }

  /* line 98, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .counter-area {
    min-width: 50px;
  }

  /* line 101, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .counter-area > h3 {
    font-size: 30px;
  }

  /* line 104, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .app_screenshots_slides {
    padding: 0;
  }

  /* line 107, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .clients-feedback-area .slick-slide.slick-current img {
    width: 90px !important;
    height: 90px !important;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 114, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .header_area {
    padding: 0;
  }

  /* line 117, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .menu_area .navbar-brand {
    font-size: 48px;
  }

  /* line 120, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .header_area.sticky {
    height: 50px;
  }

  /* line 123, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .header_area .menu_area #nav .nav-link,
  .header_area.sticky .menu_area #nav .nav-link {
    padding: 5px 15px;
  }

  /* line 127, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  #ca-navbar {
    padding: 20px;
    border-radius: 3px;
    background-color: #5d646b;
    text-align: left;
  }

  /* line 133, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .sing-up-button {
    margin-top: 30px;
    text-align: left;
  }

  /* line 137, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .header_area {
    top: 0;
  }

  /* line 140, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .welcome_text .cd-intro > p {
    font-size: 14px;
  }

  /* line 143, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .wellcome-heading > h2 {
    font-size: 48px;
  }

  /* line 146, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .get-start-area .email {
    margin-bottom: 20px;
    max-width: 100%;
  }

  /* line 150, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .welcome-thumb {
    width: 90%;
    bottom: -74px;
    right: 0;
  }

  /* line 155, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .logo_area > a > h2 {
    font-size: 40px;
    margin-top: 10px;
  }

  /* line 159, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .section-heading > h2 {
    font-size: 32px;
  }

  /* line 162, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .single-special {
    margin-bottom: 30px;
  }

  /* line 165, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .special_description_area.mt-150 {
    margin-top: 50px;
  }

  /* line 168, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .special_description_content > h2 {
    font-size: 30px;
  }

  /* line 171, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .app-download-btn:first-child {
    margin-right: 0;
  }

  /* line 174, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .app-download-area {
    display: block;
  }

  /* line 177, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .app-download-btn {
    margin-bottom: 20px;
  }

  /* line 180, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .video-area {
    border: 10px solid #fff;
    border-radius: 20px;
    height: 250px;
  }

  /* line 185, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .video-area::after {
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 1px solid #f1f4f8;
    z-index: 2;
    border-radius: 20px;
  }

  /* line 194, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .clients-feedback-area .client-description > p {
    font-size: 20px;
  }

  /* line 197, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .clients-feedback-area .slick-slide img {
    width: 60px !important;
    height: 60px !important;
  }

  /* line 201, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .clients-feedback-area .slick-slide.slick-current img {
    width: 70px !important;
    height: 70px !important;
  }

  /* line 205, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .membership-description > h2 {
    font-size: 32px;
  }

  /* line 208, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .get-started-button {
    text-align: left;
    margin-top: 20px;
  }

  /* line 212, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .contact_from {
    margin-top: 30px;
  }

  /* line 215, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .wellcome-heading > h3 {
    font-size: 252px;
    top: -105px;
    left: -1px;
  }

  /* line 220, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .wellcome-heading,
  .single-cool-fact {
    margin-bottom: 50px;
  }

  /* line 224, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .cool_facts_area .col-12:last-of-type .single-cool-fact {
    margin-bottom: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 230, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .wellcome-heading > h3 {
    font-size: 284px;
  }

  /* line 233, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .wellcome-heading > h2 {
    font-size: 70px;
  }

  /* line 236, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .welcome-thumb {
    bottom: -109px;
    width: 75%;
  }

  /* line 240, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .wellcome-heading {
    margin-bottom: 50px;
  }

  /* line 243, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .wellcome-heading > h3 {
    top: -139px;
  }

  /* line 246, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .get-start-area .email {
    max-width: 370px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* line 252, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .wellcome-heading > h3 {
    font-size: 286px;
  }

  /* line 255, /home/t01/ruby_py/Publed/app/assets/stylesheets/responsive.scss */
  .get-start-area .email {
    margin-bottom: 0;
  }
}
