<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_contenido.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_contenido_path(@tipo_contenido) %> |
<%= link_to 'Back', tipo_contenidos_path %>
