<div class="row">
  <div class="col-lg-12 colsm-12 text-center">
    <h3>Curso nuevo</h3>
</div>
<%= render 'form', curso: @curso %>
<div class="col-sm-12 col-lg-12">
<br>
<%= link_to 'Atrás', cursos_path %>
</div>
</div>
