<div class="col-md-12 col-lg-12 text-center">
  <h3>Ãrea nueva</h3>
</div>

<%= render 'form', area: @area %>

<div class="col-md-12 col-lg-12 text-center">
  <br>
  <%= link_to 'Volver', controller: 'areas' %>
</div>
