<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @recurso_adicional.titulo %>
</p>

<%= link_to 'Edit', edit_recurso_adicional_path(@recurso_adicional) %> |
<%= link_to 'Back', recurso_adicionals_path %>
