<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color:#bbd700; text-align: center">
    <div>
        <h1>PUBLED</h1>
    </div>
    <div><br><br>
        <%= @usuario%>:<br><br>
        <%= @cuerpo%><br><br>

        <% unless @recuperar%>
        Para activar la cuenta y completar el registro, por favor, continúe en el siguiente link
        <h3><a href="<%= @link %>">Completar el registro</a></h3>
        <%else %>
        <h3><a href="<%= @link %>">Recuperar la contraseña</a></h3>
        <% end %>
    </div>
    <div>
        Gracias
    </div>
  </body>
</html>
