// COLOR PROCESSING FUNCTIONS
@import "bootstrap/scss/functions";
@import "bootstrap-color-yiq";

// APP THEME VARIABLES
@import "variables";

// BOOTSTRAP
@import "bootstrap/scss/bootstrap";


// MDK LAYOUT
@import 'material-design-kit/src/style';

// MATERIAL FONT ICONS
@import 'material-icons';

@import 'layout';
@import 'drawer';
@import "navbar";

.btn-success{
  background-color: #00c3c9;
  border-color: #00c3c9;
}

#error_explanation{
  color: #FE2E2E;
}
#notice{
  color: #FE2E2E;
}
