<nav class="drawer drawer--dark">
  <div class="drawer-spacer">
    <div class="media align-items-center">
      <a href="" class="drawer-brand-circle mr-2">P</a>
      <div class="media-body">
        <a href="" class="h5 m-0 text-link">PUBLED</a>
      </div>
    </div>
  </div>

  <!-- HEADING -->


  <!-- MENU -->
  <ul class="drawer-menu" id="mainMenu" data-children=".drawer-submenu">
    <li class="drawer-menu-item">
      <a href="/">
        <i class="material-icons"></i>
        <span class="drawer-menu-text">Panel</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/">
        <i class="material-icons"></i>
        <span class="drawer-menu-text">Agregar curso</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/">
        <i class="material-icons"></i>
        <span class="drawer-menu-text">Agregar instructor</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/">
        <i class="material-icons"></i>
        <span class="drawer-menu-text">Ver alumnos</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="<%= url_route('login/salir')%>">
        <i class="material-icons">close</i>
        <span class="drawer-menu-text">Salir</span>
      </a>
    </li>
  </ul>
</nav>
